<html>	
<head>
	<link rel="stylesheet" href="../../stylesheets/styles.css">
</head>
<body bgcolor="#ffffff">

	<div id="divBanner">
		AcuVision Eye Center
	</div>
		<div style="width: 30%; height: 100%; left:0;position: fixed; ">
	</div>
	<div style="width: 70%; height: 100%; right:0;position: fixed ">
		
	
		<p>
			AcuVision Eye Center is equipped with advanced technologies and provides comprehensive eye solutions. The center is located in the heart of Sarita Vihar. Now You can view your eye check up on digitalised machines and view it, discuss with your doctor and see your progress. The Center has specialized equipment's to check your eye power, keep a track of eye health in cases of glaucoma by perimetry (Machine to check your peripheral field ), and also your diabetic eye health can be visualized by digitalised fundus photo and OCT( eye scan of retina and optic nerve). All the records are saved in electronic record medium and the reports can be send via mail and sms to the patient
		</p>

		<p>
			Post completing MBBS and MS in Ophthalmology from reputed Indira Gandhi Medical College in Nagpur, Dr. Sunita started working at Venu Eye Institute in New Delhi where she spent 12 years. She was also associated with ICARE Eye Hospital in Noida for 5 years and Perfect Vision in Faridabad for 1 year as a Senior Eye Consultant and Surgeon.
		</p>

		<p>Dr. Sunita is currently handling daily operations of AcuVision Eye Center as Medical Director. AcuVision Eye Center is equipped with advanced technologies and is capable to provide comprehensive eye solutions for cataract, refractive errors, glaucoma, pediatric eye problems, diabetic retinopathy, contact lens related problems, and low vision. She is also attached as Visiting Senior Consultant with Eye7 Chaudhary Eye Center.</p>

		<p>	In addition to her clinical and surgical contributions, Dr. Sunita has been instrumental in conducting training for doctors in India and abroad. She has helped to raise the standards of quality in eye care surgeries at various medical centres as NABH advisor.
		</p>

		<p>
		She has published many of her studies in eye care in international medical conferences. Dr. Sunita has been on board of several government and non-government (NGO) bodies which are involved in charity work for the underprivileged. 
		</div>
	</div>
	

	<div></div></p>
	</div>
</body>
</html>